{{ if eq .Site.Language.Lang "en" }}
{{ $targetUrl := "/es/" }}
{{ range .Translations }}
{{ if eq .Language.Lang "es" }}
{{ $targetUrl = .RelPermalink }}
{{ end }}
{{ end }}
<a class="f6 fw4 hover-neon-cyan silver link dn dib-ns pv2 ph3 no-underline ttu tracked border-0"
  href="{{ $targetUrl }}" style="border-bottom: none !important;">
  [ Español ]
</a>
{{ else }}
{{ $targetUrl := "/" }}
{{ range .Translations }}
{{ if eq .Language.Lang "en" }}
{{ $targetUrl = .RelPermalink }}
{{ end }}
{{ end }}
<a class="f6 fw4 hover-neon-cyan silver link dn dib-ns pv2 ph3 no-underline ttu tracked border-0"
  href="{{ $targetUrl }}" style="border-bottom: none !important;">
  [ English ]
</a>
{{ end }}