{{ $data := . }}
{{ if (reflect.IsMap $data) }}
<div class="table-wrapper">
<table>
<thead>
<tr>
{{ range $data.columns }}
<th>{{ .name }}</th>
{{ end }}
</tr>
</thead>
<tbody>
{{ range $data.groups }}
<tr class="table-separator"><td colspan="{{ len $data.columns }}">{{ .name }}</td></tr>
{{ range .items }}
<tr>
{{ $item := . }}
{{ range $data.columns }}
<td>
  {{ if .link }}
    <a href="#{{ $item.anchor }}">{{ index $item .key }}</a>
  {{ else if and (eq .key "skill") (index $item "skill_url") }}
    <a href="{{ index $item "skill_url" }}">{{ index $item .key }}</a>
  {{ else }}
    {{ index $item .key }}
  {{ end }}
</td>
{{ end }}
</tr>
{{ end }}
{{ end }}
</tbody>
</table>
</div>
{{ else }}
  <p>Error: Invalid data format for table.</p>
{{ end }}
