<nav class="pv3 ph3 ph4-ns w-100 relative" role="navigation">
  <div class="flex center items-center justify-between w-100">
    <div class="flex items-center">
      <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-neon-cyan neon-text db no-underline athelas mr4"
        style="line-height: 1.3;">
        {{ with .Site.Params.site_logo }}
        <img src="{{ urls.RelURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
        {{ else }}
        <div class="neon-text-glitch" data-text="Alternate">Alternate</div>
        <div class="neon-text-glitch" data-text="Alternity" style="margin-left: 2rem;">Alternity</div>
        <div class="neon-text-glitch" data-text="Alternative" style="margin-left: 4rem;">Alternative</div>
        {{ end }}
      </a>
    </div>

    <div class="flex items-center flex-auto justify-end">
      {{ if .Site.Menus.main }}
      <ul class="list pl0 mv0 flex flex-wrap mr-auto">
        {{ range .Site.Menus.main }}
        <li class="ml3 f5 fw4">
          <a class="hover-neon-cyan silver no-underline flex items-center transition-all" href="{{ .URL }}"
            title="{{ lang.Translate " pageTitle" . }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</nav>