{{ define "main" }}
  <article class="main-container nested-copy-line-height">
    <div class="mw8 center">
      {{ partial "breadcrumbs.html" . }}
    </div>
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      <h1 class="f1 athelas">{{ .Title }}</h1>
      {{- .Content -}}
    </section>
    {{ if not .Params.omit_automatic_list }}
    <section class="mt5 ph3 ph5-l center measure-wide">
      {{ range .Paginator.Pages }}
        <div class="mb4 pb3 bb b--white-10 relative">
          <h2 class="f3 mt0 mb2 athelas">
            <a href="{{ .RelPermalink }}" class="link neon-cyan hover-white dim no-underline tracked-tight">
              {{ .Title }}
            </a>
          </h2>
          <div class="silver f5 lh-copy measure-wide">
            {{ .Params.description | default .Summary }}
          </div>
          <div class="mt2">
            <a href="{{ .RelPermalink }}" class="link neon-cyan f7 ttu tracked dim o-80">
              {{ lang.Translate "readMore" }} &raquo;
            </a>
          </div>
        </div>
      {{ end }}
    </section>
    {{ end }}
    {{ template "_internal/pagination.html" . -}}
  </article>
{{ end }}
