resources/_gen/
.hugo_build.lock
hugo_server.log
hugo_startup.log
/site/public/
terraform.tfstate*
terraform.tfstate
.env
/site/trans_env/
roll20_charsheet/src/__pycache__/
*.bak
brain/
sources/skills_backup/
sources/data_sources/skills copy.yaml
.chrome-profile/
